button {
  border: 0;
  background-color: var(--color-brand);

  border-radius: 12px;

  color: var(--always-white);
  padding: 12px 24px;

  flex: none;
}

button:hover {
  background-color: var(--color-brand-hover);
}